<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Check Username</title>
<link href="{{shin_path}}css/global.css?v=20090801" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#CheckUserName {
	width:350px;
	z-index:1;
}
-->
</style>
</head>

<body>
          <div class="ajxbox">
          
              <div > 
                <table>
                  <tr>
                    <td align="center" class="cont12bk"><span class="tabcontbkbig"> [{{UserName}}] </span><br />{{Result1}} </td>
                  </tr>
                </table>
              </div>
              <br />
              <table>
                <tr>
                  <td align="center"><button id="GO" name="Submit" class="buttonOut" onmouseover="this.className='button-ovr'" onmouseout="this.className='buttonOut'" onclick="parent.CheckUserName();">Close</button></td>
                </tr>
              </table>
            
            
          </div>
</body>
</html>
