<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Online betting, sport betting and football betting at SponDemo.com</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="SponDemo offers online sport betting and football betting">
<meta name="keywords" content="online betting, sport betting, football betting, sports betting, tennis betting, golf betting, online sports betting, soccer betting, online gambling">
<link href="{{SkinRootPath}}public/css/footer.css?v=20100118" rel="stylesheet" type="text/css" />

</head>
<body>
<div class="container">
  <div id="containerFooter">
    <table width="980" border="0" cellspacing="0" cellpadding="0" class="Copyright">
      <tr>
        <td align="center">&copy; {{lbl_MsgCopyright}}</td>
      </tr>
    </table>    
  </div>
</div>
</body>
</html>
