<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="overflow-x:hidden">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Deposit Site</title>
<link href="template/deposit/public/css/global.css?v=20100104" rel="stylesheet" type="text/css" />
<link href="css/global.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="containerMain">
  <!-- Start: content -->
  <div class="columnTwo">
    <div class="contentstyle05">
      <div class="odd-titlebg">
        <h1>Open Account (Registration Form)</h1>
      </div>
      <div class="contbox">
        <div class="padl5">
          <h2>Thank you for your registration! </h2>
          <h5>We will send an e-mail to the following <span class="cont12oe">address: {{RegMail}}</span> shortly.<br />
            This e-mail will include a link, which you need to click on. to activate your account and confirm your e-mail address and conclude your registration.</h5><br /><br />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Start: content -->
</body>
</html>
