<!DOCTYPE html>
<!-- Template by quackit.com -->
<html>
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title></title>
<link href="{{SkinRootPath}}public/css/table_w.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" media="all" href="Script/jscalendar/calendar-blue.css" title="win2k-cold-1" />
<style type="text/css">
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100%;
	max-height: 100%;
	font-family:Sans-serif;
	line-height: 1em;
}

</style>
    <script type="text/javascript" src="Script/jquery/jquery.js"></script>
    <script type="text/javascript" src="Script/jscalendar/calendar.js"></script>
<script type="text/javascript" src="Script/jscalendar/lang/calendar-en.js"></script>
<script type="text/javascript" src="Script/jscalendar/calendar-setup.js"></script>
        <script  type="text/javascript">
        var defTranstype = '{{defTranstype}}';
        var defTransStatus = '{{defTransStatus}}';
        
        function initSel() {
            $('#selTransType option[value=' + defTranstype + ']').attr('selected', true);
            $('#selTransStatus option[value=' + defTransStatus + ']').attr('selected', true);
        }

        function dateChangedTos_date(calendar) {
            if (calendar.dateClicked) {
                var y = calendar.date.getFullYear();
                var m = calendar.date.getMonth(); // integer, 0..11
                var d = calendar.date.getDate(); // integer, 1..31
                document.getElementById('s_date').value = (m + 1) + "/" + d + "/" + y;
            }
        }
        function dateChangedToe_date(calendar) {
            if (calendar.dateClicked) {
                var y = calendar.date.getFullYear();
                var m = calendar.date.getMonth(); // integer, 0..11
                var d = calendar.date.getDate(); // integer, 1..31
                document.getElementById('e_date').value = (m + 1) + "/" + d + "/" + y;
            }
        }
        function DoTransactionHistories()
        {
            document.getElementById("hidDo").value = 'Y';
            document.getElementById("frmDoTransactionHistories").submit();
        }
        </script>
		</head>

		<body onload="initSel();">
<header id="dep_header">
          <div id="dep_logo">
    <table width="100%" border="0">
              <tr>
        <td><h1>{{lbl_TransactionHistories}}</h1></td>
      </tr>
            </table>
  </div>
</header>
<main>
    <form id="frmDoTransactionHistories" name="frmDoTransactionHistories" action="TransactionHistories.aspx" method="post">

      <div class="innertube2">
        <h1>{{lbl_DepositWithdrawalHistory}}</h1>
        <table border="0" cellpadding="3">
          <tr>
            <th width="150">{{lbl_from}}</th>
            <th nowrap><label for="select">
                          <input name="s_date" id="s_date" type="text" value="{{FromDate}}" size="16" maxlength="12" readonly/>
          <a href="#"><img src="../template/Standard/public/images/layout/img.GIF" width="18" height="18" border="0" class="code" name="f_trigger_b" id="f_trigger_b"/></a>
          <script type="text/javascript">
              Calendar.setup({
                  inputField: "s_date",      // id of the input field
                  ifFormat: "m/d/y",       // format of the input field
                  button: "f_trigger_b",   // trigger for the calendar (button ID)
                  flatCallback: dateChangedTos_date,
                  singleClick: true           // double-click mode
              });
	       </script>

              {{lbl_to}}
                          
           <input name="e_date" id="e_date" type="text" value="{{ToDate}}" size="16" maxlength="12" readonly/>
          <a href="#"><img src="../template/Standard/public/images/layout/img.GIF" width="18" height="18" border="0" class="code" name="f_trigger_b2" id="f_trigger_b2"/></a>
          <script type="text/javascript">
              Calendar.setup({
                  inputField: "e_date",      // id of the input field
                  ifFormat: "m/d/y",       // format of the input field
                  button: "f_trigger_b2",   // trigger for the calendar (button ID)
                  flatCallback: dateChangedToe_date,
                  singleClick: true           // double-click mode
              });
                        </script>
                GMT+8 12:00
            </label></th>
          </tr>
          <tr>
            <th width="150">{{lbl_TransactionType}}</th>
            <th nowrap>
             <select name="selTranstype" id="selTransType" style="margin-right:10px">

                 <option value="1" >{{lbl_Deposit}}</option>
                 <option value="2">{{lbl_Withdrawal}}</option>
             </select>
              {{lbl_DepositStatus}}
              <select name="selTransStatus" id="selTransStatus" style="margin-right:10px">
       
                <option value="0" >{{Status_0}}</option>
                <option value="1">{{Status_1}}</option>
                <option value="2">{{Status_2}}</option>
                <option value="3">{{Status_3}}</option>
                <option value="4">{{Status_4}}</option>
                <option value="5">{{Status_5}}</option>

            </select><a href="javascript:DoTransactionHistories();" class="myButton">{{lbl_submit}}</a></th>
          </tr>
        </table>

</div>
            <input type="hidden" id="hidDo" name="hidDo" value="" />
                </form>
 <div class="innertube3">
 <table class="table_3">
              <tr>
        <th>{{lbl_TransactionId}}</th>
        <th>{{lbl_Way}}</th>
        <th>{{lbl_date}}</th>
        <th>{{lbl_amount}}</th>
        </tr>
        <!-- BEGIN TransData -->
        <tr>
            <td align="center">{{TransactionId}}</td>
            <td align="center">{{Way}}</td>
            <td align="center">{{date}}</td>
            <td align="right">{{amount}}</td>
        </tr>
        <!-- END TransData -->
        </table>
</div>
        </main>
</body>
</html>