<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="overflow-x:hidden">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="{{SkinPublicPath}}css/table_w.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
body{background-attachment:fixed;}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
.style1 {color: #333333}
-->
</style>
<script language="JavaScript" type="text/JavaScript">
    var err_enter_old_pw = '{{lbl_enter_old_pw}}';
    var err_enter_pw = '{{lbl_enter_pw}}';
    var err_confirm_pw = '{{lbl_confirm_pw}}';
    var err_Passworddifferent = '{{lbl_Passworddifferent}}';
    var err_execPassword = '{{lbl_execPassword}}';

    function DoChangePWD(value)
    {
        var re1 = new RegExp(/[a-zA-Z0-9]*/) 
        var spriltarry
        var inputstring  
        if( document.getElementById("txtOldPW").value ==''){
            alert(err_enter_old_pw);
            return false;
        }
        if( document.getElementById("txtPW").value ==''){
            alert(err_enter_pw);
            return false;
        }
        
        if( document.getElementById("txtConPW").value ==''){
            alert(err_confirm_pw);
            return false;
        }
        //MaxLength check 
        if (document.getElementById("txtPW").value.length > 10) {
            alert(err_enter_pw + ' ' + err_execPassword); 
            return false;
        }
        if (document.getElementById("txtConPW").value.length > 10) {
            alert(err_confirm_pw + ' ' + err_execPassword); 
            return false;
        }
        //Minlength check 
        if (document.getElementById("txtPW").value.length < 6) {
            alert(err_enter_pw + ' ' + err_execPassword); 
            return false;
        }
        if (document.getElementById("txtConPW").value.length < 6) {
            alert(err_confirm_pw + ' ' + err_execPassword); 
            return false;
        }  
         

        
        if( document.getElementById("txtPW").value != document.getElementById("txtConPW").value){
            alert(err_Passworddifferent);
            return false;
		}
       
       //set new PW and Confrim PW value encrypt with CFS
        var obj;
        var OldPW, PW, ConPW;

        PW = CFS(document.getElementById('txtPW').value);

        ConPW = CFS(document.getElementById('txtConPW').value);

        OldPW = CFS(document.getElementById('txtOldPW').value);


        PostData = { 'txtOldPW': OldPW, 'txtPW': PW, 'txtConPW': ConPW,'hidSubmit':'YES' };
        baseHtmlRequest('ChangePWD.aspx', PostData,false);
    }
    

    function DoChangePwdReset() {
        document.getElementById("txtOldPW").value = '';
        document.getElementById("txtPW").value = '';
        document.getElementById("txtConPW").value = '';
    }

</script>
</head>
<body onload="document.getElementById('txtOldPW').focus();">
<form id="frmChangePW" name="frmChangePW" method="post" action="ChangePWD.aspx">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="10"><img src="{{SkinPublicPath}}images/icon_title.gif" /></td>
    <td><h1>{{lbl_changepassword}}</h1></td>
  </tr>
</table>
	  <div class="boxgy">
	    <table width="100%" align="center" cellpadding="0" cellspacing="0" class="tabstyle03">
          <tr>
            <th width="50%" height="30"><b>{{lbl_oldpassword}}</b></th>
            <td><input id="txtOldPW" class="b11_bl" name="txtOldPW"  size="20" type="password" /></td>
          </tr>
          <tr>
            <th width="50%" height="30"><b>{{lbl_password}}</b></th>
            <td><input id="txtPW" name="txtPW" maxlength="11" size="20"  type="password" class="b11_bl" /></td>
          </tr>
          <tr>
            <th width="50%" height="30"><b>{{lbl_confirmpassword}}</b></th>
            <td><input id="txtConPW" name="txtConPW" maxlength="11" size="20"  type="password" class="b11_bl" /></td>
          </tr>
	  </table>
    <div class="btnarea">
    <div class="btnstyle" style="text-align:center;">
      <ul>
        <a id="btnReset" name="btnReset" onclick="DoChangePwdReset();" class="btngy"><span>{{lbl_reset}}</span></a>
        <a id="btnChangePW" name="btnChangePW" onclick ="return DoChangePWD('YES');" class="btngy"><span>{{lbl_submit}}</span></a>
      </ul>
    </div>
  </div>
        <input id="hidSubmit" name="hidSubmit" type="hidden" />
  </div>

</form>
</body>
</html>
