<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title></title>
<link href="{{SkinPublicPath}}css/table_w.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" type="text/JavaScript">
    var err_enter_pw = '{{lbl_enter_pw}}';
    var err_confirm_pw = '{{lbl_confirm_pw}}';
    var err_Passworddifferent = '{{lbl_Passworddifferent}}';
    var err_execPassword = '{{lbl_execPassword}}';

    function DoSubPwdVerification(ToCID,CurrentAgentID,CurrentRoleID) {
        var re1 = new RegExp(/[a-zA-Z0-9]*/)
        var spriltarry
        var inputstring
        if (document.getElementById("txtPW").value == '') {
            alert(err_enter_pw);
            return false;
        }

        if (document.getElementById("txtConPW").value == '') {
            alert(err_confirm_pw);
            return false;
        }
        //MaxLength check 
        if (document.getElementById("txtPW").value.length > 10) {
            alert(err_enter_pw + ' ' + err_execPassword);
            return false;
        }
        if (document.getElementById("txtConPW").value.length > 10) {
            alert(err_confirm_pw + ' ' + err_execPassword);
            return false;
        }
        //Minlength check 
        if (document.getElementById("txtPW").value.length < 6) {
            alert(err_enter_pw + ' ' + err_execPassword);
            return false;
        }
        if (document.getElementById("txtConPW").value.length < 6) {
            alert(err_confirm_pw + ' ' + err_execPassword);
            return false;
        }

        //        inputstring = document.getElementById("txtOldPW").value;  
        //        
        //        spriltarry = inputstring.split(re1);
        //        
        //        if(userBrowser()=="Chrome" && spriltarry==",")
        //        {
        //            spriltarry="";
        //        }
        //        
        //        if(spriltarry.toString() != '') {
        //            alert(err_enter_old_pw + err_execPassword); 
        //            return false;
        //        }
        //        inputstring = document.getElementById("txtPW").value;  
        //        
        //        spriltarry = inputstring.split(re1);
        //        
        //        if(userBrowser()=="Chrome" && spriltarry==",")
        //        {
        //            spriltarry="";
        //        }
        //        
        //        if(spriltarry.toString() != '')
        //        {
        //            alert(err_enter_pw + err_execPassword); 
        //            return false;
        //        }

        //        inputstring = document.getElementById("txtConPW").value;  
        //        
        //        spriltarry = inputstring.split(re1);
        //        
        //        if(userBrowser()=="Chrome" && spriltarry==",")
        //        {
        //            spriltarry="";
        //        }
        //        
        //        if(spriltarry.toString() != '')
        //        {
        //            alert(err_confirm_pw +err_execPassword); 
        //            return false;
        //        }

        if (document.getElementById("txtPW").value != document.getElementById("txtConPW").value) {
            alert(err_Passworddifferent);
            return false;
        }

        //set new PW and Confrim PW value encrypt with CFS
        var obj;
        var OldPW, PW, ConPW;

        PW = CFS(document.getElementById('txtPW').value);

        ConPW = CFS(document.getElementById('txtConPW').value);
        DoChangeSubPWD(ToCID,PW,ConPW,CurrentAgentID,CurrentRoleID);
    }


    function DoChangeSubPwdReset() {
        document.getElementById("txtPW").value = '';
        document.getElementById("txtConPW").value = '';
    }

</script>
</head>
<body>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="10"><img src="{{SkinPublicPath}}images/icon_title.gif" /></td>
    <td><h1>{{lbl_changepassword}} </h1></td>
  </tr>
</table>
<div class="boxgy">
  <table width="100%" align="center" cellpadding="0" cellspacing="0" class="tabstyle03">
      <tr>
        <th width="50%">{{lbl_UserName}}</th>
        <td>{{UserName}}</td>
    </tr>
    <tr>
        <th width="50%">{{lbl_password}}</th>
        <td><input id="txtPW" name="txtPW" maxlength="11" size="20"  type="password" class="b11_bl" /></td>
    </tr>
    <tr>
        <th  width="50%">{{lbl_confirmpassword}}</th>
        <td><input id="txtConPW" name="txtConPW" maxlength="11" size="20"  type="password" class="b11_bl" /></td>

    </tr>
  </table>
  <div class="btnarea">  
   <a onclick="CloseBPopup();" class="btngy" ><span>{{lbl_cancel}}</span></a>
  <a onclick="DoChangeSubPwdReset();" class="btngy" ><span>{{lbl_reset}}</span></a>
  <a onclick ="DoSubPwdVerification('{{ToCID}}','{{CurrentAgentID}}','{{CurrentRoleID}}');" class="btngy"><span>{{lbl_submit}}</span></a>
  </div>
</div>
</body>
</html>
