<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{{lbl_SubAccount}}</title>
<link href="{{SkinPublicPath}}css/table_w.css" rel="stylesheet" type="text/css" />
<link href="{{SkinPublicPath}}css/jquery.fixhead.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" type="text/javascript" src="../Script/Report.js?v=20120301"></script>
<!--<script language="JavaScript" type="text/javascript" src="../Script/gotoMain.js?v=20120201"></script>
-->
</head>
<body>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="10"><img src="{{SkinPublicPath}}images/icon_title.gif" /></td>
    <td><h1>{{lbl_Outstanding}} </h1></td>
  </tr>
</table>
<div class="boxgy">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tabstyle01">
    <tr>
      <th width="10" nowrap="nowrap">{{lbl_UserName}}</th>
      <td><input id="txtUserName" type="text" /></td>
    </tr>
  </table>
  <div id="Button" class="btnarea">
    <div class="btnstyle" style="text-align:center;">
      <a id="btnGetSubAccSearch" name="btnSubmit" onclick ="DoOutstandingSearch();" class="btngy"><span>{{lbl_Submit}}</span></a>
    </div>
  </div>
</div>

<div>
    <div class="line_divL width50">
      <table cellpadding="0" cellspacing="0" class="tabstyle02 line_L" id="tbSubAccountInfo">
          <th>{{lbl_UserName}}</th>
          <th>{{lbl_TransID}}</th>
          <th>{{lbl_GameType}}</th>
          <th>{{lbl_stake}}</th>
          <th>{{lbl_TransTime}}</th>

        <tbody>
        {{OutstandingDataOutputLeft}}
        </tbody>
      </table>
    </div>
    <div class="line_divR width50">
      <table cellpadding="0" cellspacing="0" class="tabstyle02" id="tbSubAccountInfo">
          <th>{{lbl_UserName}}</th>
          <th>{{lbl_TransID}}</th>
          <th>{{lbl_GameType}}</th>
          <th>{{lbl_stake}}</th>
          <th>{{lbl_TransTime}}</th>
        <tbody>
        {{OutstandingDataOutputRight}}
        </tbody>
      </table>
    </div>
      <!-- BEGIN  OutstandingListBlock -->
    <tr class="{{IntervalColor}}">
      <td align="left"> {{UserName}} </td>
        <td align="right">{{TransID}} </td>
        <td  align="right">{{GameType}} </td>
      <td  align="right">{{Stake}} </td>
              <td  align="right">{{TransTime}} </td>

    </tr>
    <!-- END OutstandingListBlock -->
</div>

</body>
</html>
