<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">



  <appSettings>
    <!-- MaxHttpCollectionKeys -->
    <add key="aspnet:MaxHttpCollectionKeys" value="5000" />


    <add key="ConnectionString" value="Data Source=127.0.0.1;Initial Catalog=CashMain;User Id=rduser;Password=rduser"/>
    <!-- Site ID -->
    <add key="SiteID" value="4110000" />

    <!-- Log2File: true / false; flag of write log file -->
    <add key="Log2File" value="true" />

    <!-- ImageServerMode: true / false -->
    <add key="UseImageServer" value="false" />


    <!-- Email Server Setting -->
    <add key="MailServer" value="127.0.0.1" />
    <add key="OperatorMail" value="123@123.com" />

    <!--Alipay parameter -->
    <add key="payment_gateway" value="https://openapi.alipaydev.com/gateway.do" />
    <add key="app_id" value="2016102800773151" />
    <add key="method" value="alipay.trade.wap.pay" />
    <add key="format" value="JSON" />
    <add key="return_url" value="http://1.34.184.68:801/aopDepositResult.aspx" />
    <add key="charset" value="utf-8" />
    <add key="sign_type" value="RSA" />
    <add key="sign" value="sign" />
    <add key="version" value="1.0" />
    <add key="notify_url" value="" />

    <!--Alipay biz_content-->
    <add key="timeout_express" value="90m" />
    <add key="seller_id" value="" />
    <add key="auth_token" value="" />
    <add key="product_code" value="QUICK_WAP_PAY" />
    <add key="goods_type" value="0" />

    <!--Alipay RSA KEY-->
    <add key="alipay_public_key" value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDIgHnOn7LLILlKETd6BFRJ0GqgS2Y3mn1wMQmyh9zEyWlz5p1zrahRahbXAfCfSqshSNfqOmAQzSHRVjCqjsAw1jyqrXaPdKBmr90DIpIxmIyKXv4GGAkPyJ/6FTFY99uhpiq0qadD/uSzQsefWo0aTvP/65zi3eof7TcZ32oWpwIDAQAB"/>
    <add key="merchant_private_key" value="MIICXAIBAAKBgQDvEuTE3iSWT6YfLX+B9q9TeQ6CmHJ48KWhKxGsTgEpMCcxXShx
Qe8AGpAm8JEJk1ym9o907MjqWsXJmf77ZPeJC3T7ORBoYewdCzrd/hoUUFaJ3/PH
HmTWGdt/nIJ4oBnZuH9qfhEQIul2ak2LYFGerQCjOPwI5cfkZNgLyrJjJwIDAQAB
AoGBAKY5jcRv7CJyqL9exBwZ59dzASq+UkFSmObRak1SQy5fI7EH47mzrTh2P6pD
c6SjyDTyk9YpWJzRllnQ79/dWNmhiiSccVPqn/F5FKV920EjMdCMTuLpp032vHpk
VtdUztYu7TgbGa9amiBpZNPyUsDs7bKp6ZTGLj2Qm75pLy9BAkEA+f95JMWRybDO
/jW65L7HSXezldZ8zIJwcNn55lTk8DbVjJ8Xf0IK0cFfe3hfAGzuaneV/XxW+lBe
V1X/sTzsIQJBAPTQR2f5azGViWIsRnNwTpd967Arnu/JFYdrIAIYGFrYOsZpPiUQ
QW9IpXpj/qo0o2hQRwcrohP9e6puWZ/AJkcCQBpEc5Afii/s+fLP5nE+cmYPw7jM
rpQ2aGYTISTIar2qpUl/NdLTN5vOe5/Xh/PdfjeFlSbrN6BZbXAzwwf2ZMECQEF/
j/szcgh8F5uaeObdv0ksuWgS450H0ai/cnrc83cqrt7yvVuxM7CQYSWTp0jmeGmq
QLacZ+qtQO7iQzxIbnUCQBJsu56zCZPBvEUaRTfxb0dy93DC2ckws6uXavbPo3Pi
QELfrlPxdCH/RFECWJdf1vuusyRxgJDdxxOz8khSXC4=" />
  </appSettings>
  <system.web>
    <machineKey validationKey="C1410B597914D9FC3B53CA8E53A22EEC93D22685891C71876425E98FE9543CAC5E3DF4401E37B8C8EA3FC086D2B79BB8026600AA06D0B2793E9004AE1B62410B" decryptionKey="493411A57B786ED5BE8BD4305E0F57CAA28CD51D66C0371F9EC8676C365790E7" validation="SHA1" />
    <sessionState mode="StateServer" />
    <pages enableViewStateMac="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <customErrors defaultRedirect="~/errorpage/errorReport.aspx" mode="Off">
      <error statusCode="404" redirect="~/errorpage/PageNotFound.html" />
    </customErrors>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
                <clear />
                <add value="index.aspx" />
                <add value="default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>