<?xml version="1.0" encoding="UTF-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
        <sessionState cookieless="AutoDetect" mode="StateServer" timeout="60" />
		<customErrors mode="Off" />
  </system.web>
  <appSettings>
    <add key="MainConnectionString" value="Data Source=1.34.184.68,1433;Initial Catalog=CashMain;User Id=rduser;Password=rduser" />

	  <add key="SiteID" value="4140000" />
	  <add key="IsTest" value="false" />
	  <add key="DefaultPagingLength" value="20"/>

    <!-- Log2File: true / false; flag of write log file -->
    <add key="Log2File" value="true" />

  </appSettings>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>